/* // mobile  */

@media screen and (max-width: 640px) {
  .layout {
    width: 95%;
    height: 70%;
    border-bottom-right-radius: 25%;
  }

  label {
    font-size: 12px;
  }

  input {
    font-size: 14px;
  }

  button {
    /* top: 30%; */
    right: 50%;
  }

  button svg {
    height: 40px;
    width: 100%;
    padding: 8px;
  }

  .result {
    padding-top: 50px;
    font-size: 2.5rem;
    padding-right: 8px;
  }

  .displayNumber {
    font-size: 2.5rem;
  }

  .field_with_errors {
    font-size: 12px;
  }
}

@media screen and (min-width: 640px) {
  .layout {
    width: 70%;
    height: 75%;
    border-bottom-right-radius: 25%;
  }

  input {
    font-size: 18px;
  }

  button {
    top: 25%;
    right: 10%;
  }

  button svg {
    height: 40px;
    width: 100%;
    padding: 8px;
  }

  .result {
    padding-top: 28px;
    font-size: 3.5rem;
  }

  .displayNumber {
    font-size: 3.5rem;
  }

  .field_with_errors {
    font-size: 12px;
  }
}

/* // tablet  */
@media screen and (min-width: 768px) {
  .layout {
    width: 60%;
    height: 70%;
  }

  input {
    font-size: 34px;
  }

  button {
    right: 10%;
  }

  button svg {
    height: 60px;
    width: 100%;
  }

  .result {
    /* padding-top: 38px; */
    font-size: 3rem;
    padding-right: 8px;
  }

  .displayNumber {
    font-size: 3rem;
  }

  .field_with_errors {
    font-size: 12px;
  }
}

/* desktop  */
@media screen and (min-width: 1024px) {
  .layout {
    max-width: 768px;
    width: 60%;
    height: 70%;
  }

  input {
    font-size: 28px;
  }

  button {
    right: 5%;
  }

  button svg {
    height: 80px;
    width: 100%;
  }

  .result {
    padding-top: 8px;
    font-size: 4rem;
  }

  .displayNumber {
    font-size: 4rem;
  }

  .field_with_errors {
    font-size: 12px;
  }
}
